.link {
  text-decoration: none;

  padding: 10px;
  color: #d8e3e7;
}
.link:hover {
    transition:transform 0.4s;
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  color: #3DB2FF;
}
