* {
  font-family: "Roboto", sans-serif;
}

.App {
  width: 100%;
  text-align: center;
  color: White;
  background-image: url("https://wallpaper.dog/large/17016021.gif");
  height: 700px;
  /* background-color: #efe7e7; */
  margin-top: 47px;
}
.welcome {
  font-size: 120px;
  color: rgb(177, 75, 75);
}
.soft-skills,
.tech-skills {
  border-bottom: 1px solid brown;
  font-size: 22px;
}
